---
import { info } from '@data';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/home/Hero.astro';
import MetaHead from '@components/general/MetaHead.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={''}
      description={info.about}
      ogImageUrl={'/assets/images/profile.png'}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
    </Layout>
  </body>
</html>
